@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter" sans-serif;
}
:root{
    --edblue: rgba(12, 41, 75, 0.856);
    --edwhite: rgb(233, 243, 189);
    --edwite: rgb(189, 188, 188);
    --edgold: rgb(138, 123, 41);
    --edgray: rgb(143, 137, 137);
    --edlinebluegold: linear-gradient( to right, var(--edblue), var(--edgold));
    --edpurple: #3D0E61;
}

body {
    padding: 0px;
    margin: 0px;
    font-size: 20px;
    min-height: 200vh;
    font-family: 'Cabin', Sans-serif;
  }
  
  .overlay{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      visibility: hidden;
      transition: opacity .35s, visibility .35s, height .35s;
      overflow: hidden;
      background: black;
      z-index: -1;
  }
  
  #main-menu {
    display: block;
    height: 100px;
    width: 100%;
    background: var(--edgold);
    margin: 0px;  
    z-index: 9;
  }
  
  #main-menu ul {
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9;
  }
  
  #main-menu li {
    list-style-type: none;
    font-size: 2rem;
  }
  
  #main-menu a {
    color: #B9FAF8;
    font-size: 1.5rem;
    text-decoration: none;
  }
  
  #main-menu a:hover {
    text-decoration: underline;
  }
  
  #hamburger-input{
    display: none;
  }
  
  #hamburger-menu {
      position: fixed;
      top: 20px;
      left: 20px;
      width: 50px;
      height: 50px;
      display: none;
      border: none;
      padding: 0px;
      margin: 0px;
      font-family: 'Cabin', Sans-serif;
      background: linear-gradient(
        to bottom, 
        var(--edgold), var(--edgold) 20%, 
        var(--edwhite) 20%, var(--edwhite) 40%, 
        var(--edgold) 40%, var(--edgold) 60%, 
        var(--edwhite) 60%, var(--edwhite) 80%, 
        var(--edgold) 80%, var(--edgold) 100%
      );
  }
  
  #hamburger-menu #sidebar-menu {
      visibility: hidden;
      position: fixed;
      top: 0;
      left: -250px;
      width: 50%;
      text-align: center;
      height: 100%;
      background-color: var(--edgold);
      transition: 0.3s;
      padding: 0px 10px;
      box-sizing: border-box;
  }
  
  #hamburger-menu h3 {
    color: #B9FAF8;
    font-size: 2.2rem;
  }
  
  #hamburger-menu ul {
    padding-left: 0px;
  }
  
  #hamburger-menu li {
    list-style-type: none;
    line-height: 3rem;
  }
  
  #hamburger-menu a {
    color: #B9FAF8;
    font-size: 1.3rem;
    text-decoration: none;
  }
  
  #hamburger-menu a:hover {
    text-decoration: underline;
  }
  
  #hamburger-input:checked + #hamburger-menu #sidebar-menu {
      visibility: visible;
      left: 0;
  }
  #hamburger-input:checked ~ .overlay{
     visibility: visible;
    opacity: 0.4;
  }
  
  
  @media screen and (max-width: 750px) {
    #main-menu {
      display: none;
    }
    #hamburger-menu {
      display: inline;
    }
  }